*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: rgb(224, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------End of  basic design section--------------------------------------*/

.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgb(58, 57, 57);
    border-radius: 12px;
    background: rgb(22, 21, 21);
    overflow: hidden;
}

form  input{
    width: 100%;
    height: 150px;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    color: azure;
    background: black;
    text-align: right;
    pointer-events: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid rgb(10, 10, 10);
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5.5px;
    cursor: pointer;
}


.btn-yellow{
    background: darkkhaki;
    color: white;
}


.btn-grey{
    background: darkred;
}

.btn-equal{
    background: darkcyan;
}

.btn-clear{
    background: greenyellow;
}